
<section class="min-h-[50vh] flex flex-col justify-center">
  <h1 class="text-[48px] font-bold h-full">Essential Web Development Tools</h1>
  <p>Discover, Learn, and Optimize with These Powerful Resources</p>
</section>
