---
import SparkleStarsIcon from "../icons/SparkleStarsIcon.astro";
---

<footer class="w-full flex items-center gap-2">
  <div class="w-full h-[1px] bg-white/30"></div>
  <div class="min-w-fit text-white/30">
    <SparkleStarsIcon />
  </div>
  <div class="w-full h-[1px] bg-white/30"></div>
</footer>