---
import Layout from '../layouts/Layout.astro'
import { ToolsGrid } from '../components/ToolsGrid'
---

<Layout title='debug tool'>
  <div class="min-h-screen bg-stone-950 text-stone-200 flex flex-col items-center">
    <div class="max-w-screen-lg w-full">
      <section>
        <h1 class="text-3xl">Debug tools 🛠</h1>
      </section>
      <ToolsGrid client:load/>
    </div>
  </div>
</Layout>